@import "vendors/manifest";
@import "utilities/manifest";
@import "base/manifest";
@import "mixins/manifest";
@import "containers/manifest";
@import "components/manifest";
@import "pages/manifest";
.landing-heading {
	@include flex-container(row, nowrap, center, center);
	font-family: var(--font-elianto);
	font-size: var(--font-5);
	letter-spacing: 3px;
	margin: 2% 0 1% 0;
	@media (max-width: $breakpoint-desktop-wide) {
	}
	@media (max-width: $breakpoint-desktop) {
	}
	@media (max-width: $breakpoint-large-tablet) {
		text-align: center;
	}
	@media (max-width: $breakpoint-tablet) {
	}
	@media (max-width: $breakpoint-phone) {
	}
}
.nopage {
	@include flex-container(row, nowrap, center, center);
	font-family: var(--font-elianto);
	font-size: var(--font-5);
	letter-spacing: 3px;
	margin: 2% 0 1% 0;
	@media (max-width: $breakpoint-desktop-wide) {
	}
	@media (max-width: $breakpoint-desktop) {
	}
	@media (max-width: $breakpoint-large-tablet) {
		text-align: center;
	}
	@media (max-width: $breakpoint-tablet) {
	}
	@media (max-width: $breakpoint-phone) {
	}
}
.page-not-found {
	@include flex-container(row, nowrap, center, center);
	font-family: var(--font-elianto);
	font-size: var(--font-5);
	letter-spacing: 3px;
	margin: 2% 0 1% 0;
	@media (max-width: $breakpoint-desktop-wide) {
	}
	@media (max-width: $breakpoint-desktop) {
	}
	@media (max-width: $breakpoint-large-tablet) {
		text-align: center;
	}
	@media (max-width: $breakpoint-tablet) {
	}
	@media (max-width: $breakpoint-phone) {
	}
}
