.footer {
	background: linear-gradient(
		to bottom,
		var(--light-black-2),
		var(--light-black-3)
	);
	color: var(--white);
	padding: 2rem;
	@include flex-container(column, nowrap, center, center);
	border-radius: 25px;
	border: 1px solid var(--orange-5);
	background-size: 2rem 2rem;
	&__links {
		border-radius: 50px;
		padding: 1rem;
		box-shadow: 0 5px 15px var(--black-shadow);
		ul {
			@include flex-container(row, nowrap, center, center);
			li {
				margin: 0 1rem 0 1rem;
				a {
					font-family: var(--font-tektur);
					font-size: var(--font-11);
					color: var(--white);
					letter-spacing: 2px;
					font-weight: 400;
					transition: color 0.3s ease-in-out;
					&:hover {
						color: var(--orange-5);
						border-bottom: 2px solid var(--orange-5);
					}
				}
			}
		}
	}

	&__email {
		margin: 1% 0 0 0;
		span {
			font-family: var(--font-tektur);
			font-size: var(--font-12);
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		a {
			color: var(--orange-5);
			transition: color 1s ease-in-out;
			font-family: var(--font-elianto);
			font-size: var(--font-11);
			letter-spacing: 2px;
			&:hover {
				color: var(--orange-6);
			}
		}
	}

	&__bottom {
		margin: 0.5% 0 0 0;
		opacity: 0.8;
		font-family: var(--font-tektur);
		font-size: var(--font-13);
		letter-spacing: 2px;
		text-transform: uppercase;
		transition: transform 0.5s ease-in-out;
		&:hover {
			opacity: 1;
			transform: scale(1.05);
		}
	}
}
