.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #2a2a2a;
	color: #fff;
	padding: 10px 0; /* Further reduced padding */
	text-align: center;
	font-size: 12px; /* Reduced font size */

	.footer-content {
		display: flex;
		justify-content: space-between; /* Make the elements display side by side */
		align-items: flex-start;

		.footer-links,
		.footer-social {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: left;

				li {
					margin: 5px 0;

					a {
						text-decoration: none;
						color: #fff;
						font-weight: 600;
						font-size: 14px; /* Reduced font size */
						transition: color 0.3s;

						&:hover {
							color: #68d391;
						}
					}
				}
			}
		}
	}
}
