// Navbar
nav {
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	// Logo
	.logo {
		img {
			width: 100px; // Adjust the width as needed
			height: auto;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		li {
			margin: 0 20px;

			a {
				text-decoration: none;
				color: white;
				font-weight: 500;
				transition: color 0.2s;

				&:hover {
					color: #68d391; // Change the color on hover
				}
			}
		}
	}
}
