.navbar {
	background-color: #2a2a2a;
	color: #ffffff;
	padding: 20px 30px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid var(--green-6);
	position: relative;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

	&:hover {
		background-color: #1e1e1e;
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
		transform: translateY(-3px);
	}

	.menu-toggle {
		display: none;
		cursor: pointer;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 1;

		.bar {
			width: 100%;
			height: 4px;
			background-color: #fff;
			border-radius: 4px;
		}
	}

	.logo {
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
			transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out,
				filter 0.3s ease-in-out;
			box-shadow: 0 0 20px rgba(104, 211, 145, 0.5);
			border: 5px solid var(--green-6);
			filter: grayscale(100%);
			transform-origin: center;
			animation: rotate 6s linear infinite, pulse 2s ease-in-out infinite;

			&:hover {
				transform: scale(1.05) rotate(360deg);
				box-shadow: 0 0 30px rgba(104, 211, 145, 0.8);
				filter: brightness(1.2);
				animation: spin 0.5s ease-in-out infinite;
			}
		}
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 30px;

		li {
			position: relative;
			animation: fadeIn 0.5s ease-out both, translateUp 0.3s;

			a {
				text-decoration: none;
				color: #ffffff;
				font-weight: 700;
				font-size: 20px;
				transition: color 0.3s;
				text-transform: uppercase;
				letter-spacing: 2px;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					bottom: -4px;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: transparent;
					transform: scaleX(0);
					transform-origin: center;
					transition: transform 0.3s;
				}

				&:after {
					content: "";
					position: absolute;
					bottom: -4px;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: transparent;
					transform: scaleX(0);
					transform-origin: center;
					transition: transform 0.3s;
				}

				&:hover {
					color: var(--green-6);
					&:before {
						transform: scaleX(1);
						background-color: var(--green-6);
					}
					&:after {
						transform: scaleX(1);
						background-color: var(--green-6);
					}
				}
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background: linear-gradient(90deg, var(--green-6), transparent);
		transform: scaleX(0);
		transition: transform 0.3s;
	}

	&:hover::before {
		transform: scaleX(1);
	}

	&.open {
		.menu-toggle {
			.bar {
				&:first-child {
					transform: rotate(45deg) translate(5px, 5px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg) translate(5px, -5px);
				}
			}
		}

		.menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 100px;
			left: 0;
			right: 0;
			background-color: #2a2a2a;
			padding: 10px 0;
			border: 4px solid var(--green-6);
			border-top: 0;
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.3s;

			&.open {
				max-height: 500px;
			}

			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes translateUp {
	0% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}
