.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	text-align: center;
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	color: #333;

	.user-image {
		position: relative;

		.user-picture {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
			border: 4px solid #fff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		}

		.update-button {
			position: absolute;
			bottom: 10px;
			right: 10px;
			padding: 8px 16px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #0056b3;
			}

			input[type="file"] {
				display: none;
			}
		}
	}

	.user-greeting {
		padding: 20px;
		text-align: center;

		.heading {
			font-size: 32px;
			font-weight: bold;
			color: #007bff;
			margin-bottom: 5px;
		}

		.user-email {
			color: #555;
			font-size: 18px;
		}
	}

	.todo-list-title {
		font-size: 28px;
		font-weight: bold;
		margin-top: 20px;
		color: #007bff;
	}

	.new-todo-input,
	.description-input {
		width: 100%;
		padding: 12px;
		margin: 10px 0;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 18px;
	}

	.add-button {
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 12px 24px;
		font-size: 20px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #0056b3;
		}
	}

	.todo-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.todo-item {
		border: 2px solid #ccc;
		border-radius: 8px;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s, box-shadow 0.3s;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
		}

		.edit-title-input,
		.edit-description-input {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			border: 2px solid #ccc;
			border-radius: 4px;
			font-size: 18px;
		}

		.save-button,
		.cancel-button,
		.edit-button,
		.delete-button {
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 4px;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #0056b3;
			}
		}

		.todo-title,
		.todo-description,
		.todo-author,
		.todo-created-at {
			display: block;
			margin: 10px 0;
			color: #333;
		}
	}
}
