.signin-container {
	width: 100%;
	max-width: 400px;
	margin: 5% auto;
	padding: 30px;
	background: var(--white-1);
	border: 1px solid var(--white-2);
	border-radius: 20px;
	text-align: center;
	transition: border-color 0.3s, transform 0.3s;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
		inset -5px -5px 10px rgba(0, 0, 0, 0.1);
	h2 {
		font-family: var(--font-elianto);
		font-size: var(--font-5);
		letter-spacing: 3px;
		color: var(--blue-1);
		margin: 0 0 7% 0;
		text-transform: uppercase;
	}

	.form-group {
		margin: 0 0 7% 0;
		input {
			width: 100%;
			padding: 16px;
			border: 2px solid var(--white-2);
			border-radius: 15px;
			font-family: var(--font-tektur);
			font-size: var(--font-11);
			letter-spacing: 2px;
			background-color: var(--white-1);
			color: var(--light-black-2);
			transition: border-color 0.3s, transform 0.3s;
			box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
				inset 5px 5px 10px rgba(0, 0, 0, 0.1);

			&:focus {
				border-color: var(--blue-1);
				transform: scale(1.02);
				outline: none;
			}
		}
	}

	.error-message {
		color: #ff6666;
		font-size: 1.3rem;
		margin-top: 12px;
	}

	button {
		width: 100%;
		padding: 16px;
		background: var(--white-1);
		color: var(--blue-1);
		border: none;
		border-radius: 15px;
		font-size: 1.6rem;
		cursor: pointer;
		transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
		text-transform: uppercase;
		box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7),
			5px 5px 10px rgba(0, 0, 0, 0.2);

		&:hover {
			background: var(--white-2);
			transform: scale(1.02);
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.7),
				10px 10px 20px rgba(0, 0, 0, 0.2);
		}
	}

	&:hover {
		transform: scale(1.005);
		box-shadow: -15px -15px 25px rgba(255, 255, 255, 0.1),
			15px 15px 25px rgba(0, 0, 0, 0.3);
	}
}
