:root {
	--black: black;
	--light-black-1: #222;
	--light-black-2: #333;
	--light-black-3: #444;
	--white: white;
	--white-1: #f0f0f0;
	--red: #e74c3c;
	--red-1: #ff4d4d;
	--red-2: #ff3333;
	--red-3: #ff6f61;
	--blue: #4e7dfc;
	--blue-1: #007bff;
	--blue-2: #0044ff;
	--yellow: yellow;
	--yellow-1: #ffc107;
	--yellow-2: #f39c12;
	--cool-orange: #ff5722;
	--cool-green: #2ecc71;
	--white-shadow: rgba(255, 255, 255, 0.9);
	--white-shadow-light: rgba(255, 255, 255, 0.1);
	--black-shadow: rgba(0, 0, 0, 0.9);
	--black-shadow-light: rgba(0, 0, 0, 0.1);
	--black-shadow-light-2: rgba(0, 0, 0, 0.3);
}
