.calculator-heading {
	font-family: var(--font-elianto);
	text-transform: uppercase;
	font-size: var(--font-7);
	letter-spacing: 2px;
	@include flex-container(column, nowrap, center, center);
	transition: ease-in-out 0.4s;
	&:hover {
		transform: scale(1.1);
		transition: ease-in-out 0.4s;
	}
}
