.navbar {
	@include flex-container(row, nowrap, space-between, center);
	background: linear-gradient(to right, #007bff, #3a76a1);
	color: var(--white);
	padding: 15px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition: background 0.3s, transform 0.3s;
	&:hover {
		background: linear-gradient(to right, #3a76a1, #007bff);
		transform: translateY(-1.5px);
	}

	&__logo {
		display: flex;
		align-items: center;
		font-size: 28px;
		font-weight: 700;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s;

		img {
			width: 50px;
			height: 50px;
			margin-right: 15px;
			transition: transform 0.3s;
		}

		&:hover {
			transform: scale(1.1);

			img {
				transform: rotate(360deg);
			}
		}
	}

	&__menu {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
		}

		li {
			margin-right: 30px;
			transition: transform 0.3s;

			a {
				text-decoration: none;
				color: #fff;
				font-weight: 600;
				transition: color 0.3s;

				&:hover {
					color: #e4e4e4;
					transform: translateY(-3px);
				}
			}
		}
	}

	&__buttons {
		display: flex;
		gap: 15px;
		transition: transform 0.3s;

		a {
			text-decoration: none;
		}

		button {
			background-color: #fff;
			color: black;
			border: none;
			padding: 12px 25px;
			border-radius: 25px;
			cursor: pointer;
			font-weight: 700;
			transition: background-color 0.3s, color 0.3s, transform 0.3s;

			&:hover {
				background-color: #007bff;
				color: #fff;
				transform: scale(1.05);
			}
		}
		.navabr__signout {
			background-color: #e74c3c;

			&:hover {
				background-color: #c0392b;
			}
		}
		.navbar__signup {
			background-color: #2ecc71;

			&:hover {
				background-color: #27ae60;
			}
		}
		.navbar__signin {
			background-color: #f1c40f;

			&:hover {
				background-color: #f39c12;
			}
		}

		&:hover {
			transform: translateY(-3px);
		}
	}
}
